/* Здесь будут храниться стили нашего сайта */

body
{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;

    margin: 0;
}

img
{
    max-width: 100%;
}

header
{
    padding-top: 59px;
    padding-bottom: 22px;

    color: #fff;
    background-color: #3a7dfd;
    background-image: -webkit-linear-gradient(327deg, #9c27b0 0%, #1157db 100%);
    background-image:      -o-linear-gradient(327deg, #9c27b0 0%, #1157db 100%);
    background-image:         linear-gradient(57deg, #9c27b0 0%, #1157db 100%);
}

.header-p
{
    margin-top: 102px;
}

.header-title
{
    font-size: 48px;
    font-weight: 700;
    line-height: 46px;

    margin-top: 21px;
}

.subtitle
{
    margin-top: 20px;
}

.header-button
{
    font-size: 18px;
    font-weight: 700;

    display: inline-block;

    margin-top: 33px;
    padding: 17px 55px;

    text-decoration: none;

    color: #072b6f;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 10px 17px 34px 6px rgba(18, 61, 145, .83);
}

.header-button-block small
{
    display: block;

    max-width: 208px;
    margin-top: 9px;

    text-align: center;
}

/* Секция портфолио */
.portfolio
{
    padding-top: 44px;
    padding-bottom: 71px;

    background-color: #ddd;
}

.portfolio-block
{
    padding-top: 29px;
    padding-bottom: 44px;

    background-color: #fff;
}

.portfolio-title,
.portfolio-sub-title
{
    text-align: center;
}

.portfolio-title
{
    font-size: 18px;

    margin-bottom: 10px;

    letter-spacing: 1.8px;
    text-transform: uppercase;

    color: #072b6f;
}

.portfolio-sub-title
{
    font-size: 14px;

    margin-top: 10px;
    margin-bottom: 30px;

    color: #7bb9ff;
}

.portfolio-col-1
{
    padding-left: 50px;
}

.portfolio-col-2
{
    padding-right: 50px;
}

.portfolio-block h3
{
    font-size: 18px;
    font-weight: 700;

    text-transform: uppercase;

    color: #072b6f;
}

.portfolio-text
{
    font-size: 14px;
    font-weight: 400;

    color: #8f8f8f;
}

.portfolio-block a
{
    font-size: 14px;
    font-weight: 400;

    text-decoration: underline;

    color: #072b6f;
}

/* Подвал */

footer
{
    padding-top: 60px;
    padding-bottom: 110px;

    color: #fff;
    background-color: #3a7dfd;
}

.footer-author
{
    font-size: 24px;

    margin-bottom: 7px;
}

.footer-text
{
    margin-top: 0;
}

.social-block
{
    text-align: center;
}

.social-block a
{
    display: inline-block;

    margin-right: 13px;
    margin-left: 13px;
}

.footer-cta-block
{
    text-align: center;
}

.footer-cta
{
    margin-bottom: 13px;
}

.footer-btn
{
    font-size: 18px;
    text-decoration: none;

    display: inline-block;

    padding: 12px 40px;

    color: #fff;
    border: 1px solid #fff;
    border-radius: 24px;
    background-color: transparent;
}

/* media */

@media (max-width: 1200px)
{
    .header-p
    {
        margin-top: 60px;
    }
}

@media (max-width: 992px)
{
    .header-img
    {
        display: none;
    }
    .header-p
    {
        margin-top: 10px;
    }
    .footer-author
    {
        font-size: 18px;
    }
    .footer-text
    {
        font-size: 14px;
    }
    .social-block a
    {
        margin-right: 5px;
        margin-left: 5px;
    }
    .social-block img
    {
        width: 30px;
    }
    .footer-btn
    {
        font-size: 14px;

        padding: 8px 35px;
    }
}

@media (max-width: 768px)
{
    .portfolio-col-1
    {
        padding-right: 20px;
        padding-left: 20px;
    }
    .portfolio-col-2
    {
        padding-right: 20px;
        padding-left: 20px;
    }
    .footer-author,
    .footer-text
    {
        text-align: center;
    }
}
